{% extends "base_generic.html" %}
{% block title %}
{{ bag.name }}
{% endblock %}
{% block nav %}
    <nav class="nav nav-pills nav-justified">
      <a class="btn btn-outline-primary mr-2" href="{% url 'index' %}">Home</a>
      <a class="btn btn-outline-primary mr-2" href="{% url 'new_bag' %}">New Bag</a>
      {% if request.user == bag.owner %}
      <button type="button" class="btn btn-outline-primary mr-2" data-toggle="modal" data-target="#bagSettings">
        Bag Settings
      </button>
      {% endif %}
      <!--
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link disabled" href="#">Disabled</a>
      -->
    </nav>
{% endblock %}
{% block content %}
<h3>Bag: <span id=bag_name>{{ bag.name }}</span></h3>
<h5>Owner: <span id=owner_name>{{ bag.owner }}</span></h5>
<br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-sm">
        <h5><span id="availableItemCount" class="badge badge-pill badge-primary">0</span> Items in the bag.</h5>
      </div>
      <div class="col-sm">
        <h5><span id="discardedItemCount" class="badge badge-pill badge-danger">0</span> Discarded items.</h5> 
      </div>
    </div>
  </div>
<div class="jumbotron">
    <p class="lead" id="activeItemContent"></p>
    <p class="lead">
        <button class="btn btn-primary btn-lg" id="pullItem" role="button">Pull</button>
        <button class="btn btn-danger btn-lg" id="discardItem" onclick="discardItem()" role="button">Discard</button>
    </p>

  </div>
  <div class="input-group mb-5">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" id="submitItemBtn" onclick="submitItem()" type="button">Submit Item</button>
    </div>
    <textarea class="form-control" id="submitText" aria-label="With textarea"></textarea>
  </div>

<!-- Modal -->
    <div class="modal fade" id="bagSettings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Bag Settings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="restoreItems()" data-dismiss="modal">Restore Items</button>
            <!--
                <button type="button" class="btn btn-primary">Save changes</button>
            -->
            <button type="button" onclick="emptyBag()" data-dismss="modal" class="btn btn-warning">Empty Bag</button>
            <button type="button" onclick="deleteBag()" data-dismss="modal" class="btn btn-danger">Delete Bag</button>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    var img_item = '<img id="activeContentImg" src="[IMG_REPLACE]" class="img-fluid rounded mb-3" alt="Responsive image">'
    function checkURL(url) {
        return(url.match(/\.(jpeg|jpg|gif|png)$/) != null);
    }
    function receiveUpdate(msg) {
        if (msg.active_content) {
            if (checkURL(msg.active_content.bag_content)) {
                $("#activeItemContent").addClass("d-none")
                var tmp_img = img_item.replace("[IMG_REPLACE]", msg.active_content.bag_content)
                if ($("#activeContentImg").length) {
                    $("#activeContentImg").replaceWith(tmp_img)
                } else {
                    $(tmp_img).insertAfter("#activeItemContent")
                };
            } else {
                $("#activeItemContent").removeClass("d-none")
                $("#activeItemContent").text(msg.active_content.bag_content)
                $("#activeContentImg").remove()
            };
                $("#pullItem").text("Put Back")
            $("#pullItem").attr("onclick", "putItemBack()")
        } else {
            $("#activeItemContent").removeClass("d-none")
            $("#activeContentImg").remove()
            $("#activeItemContent").text("No Item Selected")
            $("#pullItem").text("Pull")
            $("#pullItem").attr("onclick", "pullItem()")
        }

        var activeItems = parseInt(Object.keys(msg.contents).length)
        var discardedItems = parseInt(msg.discarded_count)
        $("#availableItemCount").text((activeItems-discardedItems))
        $("#discardedItemCount").text(discardedItems)
    }
    function update() {
        $.ajax({
            url:"{% url 'bag_contents' bag.name %}"
        }).done(function(msg) {
            receiveUpdate(msg)
        });
    }
    
    function submitItem() {
        var data = {}
        data.content = $("#submitText").val()
        data.bag_name = "{{ bag.name }}"
        data.owner = {{ request.user.id }}
        $.post({
            url:"{% url 'submit_item' %}",
            data: data}).done( function() {
                $("#submitText").val("")
                var items = parseInt($("#availableItemCount").text())
                $("#availableItemCount").text(items+1)
        });
    }

    function pullItem() {
        var data = {}
        data.bag_name = "{{ bag.name }}"
        $.post({
            url:"{% url 'pull_item' %}", 
            data: data,
        }).done( function() {
            update()
        });
    }
    function putItemBack() {
        var data = {}
        data.bag_name = "{{ bag.name }}"
        $.post({
            url:"{% url 'put_item_back' %}", 
            data: data,
        }).done( function() {
            update()
        });
    }
    function discardItem() {
        var data = {}
        data.bag_name = "{{ bag.name }}"
        $.post({
            url:"{% url 'discard_item' %}", 
            data: data,
        }).done( function() {
            update()
        });
    }
    function emptyBag() {
        var data = {}
        data.bag_name = "{{ bag.name }}"
        $.post({
            url:"{% url 'empty_bag' %}", 
            data: data,
        }).done( function() {
            update()
        });
    }
    function restoreItems() {
        var data = {}
        data.bag_name = "{{ bag.name }}"
        $.post({
            url:"{% url 'restore_items' %}", 
            data: data,
        }).done( function() {
            update()
        });
    }
    function deleteBag() {
        var data = {}
        data.bag_name = "{{ bag.name }}"
        $.post({
            url:"{% url 'delete_bag' %}", 
            data: data,
        }).done( function() {
            window.location.href = "{% url 'index' %}"
        });
    }
    update()
    setInterval(function(){ update(); }, 5000)


{% endblock %}